.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image {
  object-fit: cover;
}

.flashOfEvents {
  text-align: center;
}
.flashOfEvents .image {
  border: 8px solid #87b854;
}
.flashOfEvents h2 {
  position: relative;
  bottom: 180px;
  left: 324px;
  background-color: #87b854;
  color: white;
  font-size: 39px;
  line-height: 39px;
  font-weight: 400;
  width: 1083px;
  padding: 43px 0;
}


.missionFlashes {
  display: flex;
  flex-direction: row;
  gap: 170px;
  margin-top: -100px;
}
.missionContainer {
  height: 450px;
  width: 290px;
  text-align: center;
  border: 5px solid #87b854;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.missionContainer h3 {
  font-size: 24px;
  max-width: 14ch;
  font-weight: 650;
  color: #87b854;
}
.missionContainer p {
  max-width: 200px;
  line-height: 24px;
}


.leadershipTitle {
  margin-top: 80px;
  font-size: 46px;
  color: #87b854;
}
.leadershipTeam {
  display: flex;
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.leadershipTeamMember {
  padding-top: 10px;;
  text-align: center;
  width: 213px;
  height: 281px;
  border: 5px solid #87b854;
}



.updatesTitle {
  font-size: 46px;
  line-height: 36px;
  color: #87b854;
  font-weight: bold;
  width: 89vw;
  text-align: left;
  margin-top: 150px;
}
.updates {
  display: flex;
  flex-direction: row;
  gap: 88px;
  margin-bottom: 80px;
}
.updateContainer {
  display: flex;
  flex-direction: row;
  width: 800px;
  gap: 50px;
  border: 5px solid #87b854;
}
.updateContainer p {
  font-size: 26px;
  line-height: 36px;
  color: #000000;
  max-width: 25ch;
  margin-right: 50px;
}
